<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <main>
        <nav>
            <h1>
                MoviesDB
            </h1>
        </nav>
        <section class="container">
            <form action="/">
                <label for="keyword">Title:</label>
                <input type="text" name="keyword" id="keyword">
                <label for="type">Type</label>
                <select name="type" id="type">
                    <option value="">Any Type</option>
                    <option value="movie">Movie</option>
                    <option value="series">Series</option>
                </select>
                <fieldset class="grid">
                    <label for="fromYear">From year:</label>
                    <input type="number" name="fromYear" id="fromYear" min="1850">
                    <label for="toYear">to year:</label>
                    <input type="number" name="toYear" id="toYear" min="1850">
                </fieldset>
                <input type="submit" value="Search">
            </form>
        </section>
        <section class="movies-section">
            <% for (const doc of documents) { %>
            <div class="div-flex">
                <header class="movie-title">
                    <%= doc.title %>
                </header>
                <img class="movie-poster" src="<%= doc.poster %>" alt= <%= `Here it is supposed to be displayer the poster: ${doc.title}`%>>
                <footer>Año de lanzamiento: <%= doc.year %></footer>
                <div class="movie-plot">
                    <%=`${doc.plot}`%>
                </div>
            </div>
            <% } %>
        </section>
    </main>
</body>
</html>